@charset "UTF-8";

html {
    --a-color: rgb(0, 0, 228);
    --gray-color: rgb(89 89 89);
}

html.dark {
    --a-color: rgb(70, 170, 255);
    --gray-color: rgb(173 173 173);
}

div.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: 0 32px;
    max-width: 1024px;
    margin: auto;
    padding-top: 64px;
    padding-left: 4rem;
    padding-right: 4rem;
}

div.container>header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.container>nav.topic_path {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}

div.container>main {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
}

nav.topic_path>ol {
    list-style: none;
    padding: 0;
}


nav.topic_path>ol>li {
    display: inline;
}

nav.topic_path>ol>li:not(:last-of-type)::after {
    content: ">";
    margin: 0 0.6em;
    color: gray;
    user-select: none;
}

ul,
ol {
    padding-left: 1.5rem;
}

main {
    margin-bottom: 5rem;
}

article {
    line-height: 1.75;
}

article p+p {
    margin-top: 0.5rem;
}

article>div.art-head {
    margin: 2rem 0 1rem;
}

article>div.art-head h1 {
    font-weight: normal;
    font-size: 2rem;
}

article h2 {
    margin: 1em 0 0.5em;
    font-weight: normal;
    font-size: 1.8rem;
}

article h3 {
    margin: 0.5em 0 0.25em;
    font-weight: normal;
    font-size: 1.4rem;
}

article h4 {
    margin: 0.25em 0 0.25em;
    font-weight: normal;
    text-decoration: underline;
    font-size: 1.15rem;
}

article a {
    color: var(--a-color);
    cursor: pointer;
}

dl {
    margin: 0.5rem 0;
}

dt {
    font-weight: bold;
}

dd {
    padding-left: 2em;
}

p.art-date {
    font-size: 0.8em;
    color: var(--gray-color);
    text-align: right;
    margin: 0;
}

p.small-title {
    color: var(--gray-color);
}

p.small-title a {
    color: var(--gray-color);
}

span.ftup {
    font-size: 0.8em;
    vertical-align: top;
}

article figure img {
    width: 100%;
}

figure {
    margin: 0.5rem 0;
}

figcaption::before {
    content: "図: ";
}

figcaption {
    text-align: center;
    font-size: 80%;
    color: var(--gray-color);
}


@media screen and (max-width: 768px) {
    div.container {
        display: block;
        padding: 1rem 2rem;
    }

    main {
        margin-bottom: 3rem;
    }
}

@media print {
    div.container {
        display: block;
        padding: 1rem 2rem;
    }

    main {
        margin-bottom: 3rem;
    }

    nav.topic_path {
        display: none;
    }

    footer {
        display: none;
    }

    span#dark_switch {
        display: none;
    }
}