@charset "UTF-8";

/*
profile.css
last modified: 2025/02/18
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

.prof-grid {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 1rem 2rem;
    justify-content: center;
    align-items: center;
}

.prof-fig {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
}

.prof-fig img {
    height: 160px;
    width: 160px;
    display: block;
}

.prof-yokonaga {
    grid-column-start: 1;
    grid-column-end: 3;
}

.prof-main {
    grid-column-start: 2;
    grid-column-end: 3;
}

.prof-info {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem 1.5rem;
}

.prof-info {
    margin: 0;
}

.prof-info div dt {
    border-bottom: 1px dotted var(--Gray-Gray);
    font-size: 1.2rem;
}

.prof-info div dd {
    padding: 0;
}

blockquote {
    border: none;
    background-color: unset;
    padding: 0;
}

blockquote footer {
    text-align: right;
    display: block;
    font-size: 0.8rem;
}

blockquote footer cite {
    display: inline;
    font-style: normal;
}

span.mincho {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}

@media screen and (max-width: 590px) {
    .prof-grid {
        display: flex;
        gap: 1rem 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    h2 {
        align-self: flex-start;
    }
}